.banner {
}

.game-info {
  background-color: #f2efec;
  font-family: Arial, Helvetica, sans-serif;
}
.upperside {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.downside {
  max-width: 1040px;
  padding: 0 5vw 80px 5vw;
  margin: 0 auto;
}
.downside h2 {
  text-align: center;
}

.downside p {
  font-size: 18px;
  line-height: 1.5em;
}

.game-info-about {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 25px;
  margin-right: 40px;
  max-width: 500px;
}

.game-info-about > p {
  line-height: 24px;
}
.game-info-about > h2 {
  margin-top: 0;
}
.game-info-review {
  max-width: 500px;
  padding: 20px 20px 0px 20px;
}

.game-info-review h2 {
  text-align: center;
}

.comment {
  line-height: 1.5;
  position: relative;
  display: block;
  font-style: italic;
  padding: 12px 1.618em 12px 24px;
  color: #978776;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.comment::before {
  content: '"';
  position: absolute;
  color: #404040;
  font-size: 200%;
  top: 0;
  left: 0;
}

.reviewer {
  font-weight: 700;
  display: block;
  color: #404040;
  margin-left: 24px;
  margin-bottom: 12px;
}

.game-footage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 40px 10vw 40px 10vw;
}

.game-footage > h1 {
  margin-bottom: 40px;
}

.game-gallery {
  color: #fff;
  padding: 40px;
}

.game-gallery h1 {
  text-align: center;
}

.image-list {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.image-list > a {
  width: 400px;
  padding: 20px;
}

.image-list > a > img {
  width: 100%;
}

.img-wrapper {
  width: 225px;
  margin: 0 0 25px 25px;
}

.game-info .game-info-about .img-wrapper {
  float: right;
}

.img-wrapper > img {
  width: 100%;
}
